.vscode/**
.claude/**
.gitignore
.prettierrc.json
.prettierignore
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
src/**
node_modules/**
tsconfig.json
esbuild.js
**/*.map
**/*.ts
**/.DS_Store
*.vsix
